.header {
  background-color: #ff6347;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav a:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: scale(1.01);
}